# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
/target/
.gitignore
/serialize-demo/target/
/reflect-demo/target/
/java8-feature-demo/target/
/currency-demo/target/
/classloader-demo/target/
/netty-demo/target/
